<div class='table-responsive'>
    <table class='table'
            *ngIf='contacts?.length'>
        <thead>
            <tr>                
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>IsActive</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let contact of contacts'>
                <td><a [routerLink]="['/details']">
                        {{ contact.firstName }}
                    </a>
                </td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.emailId }}</td>
                <td>{{ contact.phoneNumber}}</td>
                <td>{{contact.isActive}}</td>
                <td>
                    <!-- <a class="btn btn-primary" 
                        [routerLink]="['/save']">
                        Edit
                    </a> -->
                    <a [routerLink]="['save']">E</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>